

body {
    background-color: #232E3F;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 8px;
}

h1 {
    color: white;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: center;
}

/* Smaller screen section */
@media only screen and (max-width: 600px) {
    body {
      background-color: #CF9421;
    }

    h1 {
        color: white;
    }
}

/* Medium screen section */
@media only screen and (min-width: 600px) {
    body {
      background-color: #DAD5C6;
    }
}

/* Medium screen section */
@media only screen and (min-width: 768px) {
    body {
      background-color: #232E3F;
    }
}